body {
    margin: 0;
    background: #fff;
    font-family: system-ui;
    display: grid;
    min-height: 100vh;
  }
  
  .App {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
button{
    font-size: 17px;
    color: white;
    align-items: center;
  }
button.register-button {
    background-color: blue;
  }
  
button.client-list-button {
    background-color: red;
}
  
button.validation-button {
    background-color: green;
}
